body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #ffcc33;
  color: #878787;
  font-size: 20px;
}

.header h1 {
  font-size: 40px;
}
